body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #fff;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), 
              url('background.jpg');
  background-size: cover;
  background-attachment: fixed;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.8);
}

header h1 {
  margin: 0;
  font-size: 2rem;
  color: #80d4ff;
}

header .instagram-link {
  color: #fff;
  text-decoration: none;
  background: #28a745;
  padding: 10px 20px;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 1rem;
}

header .instagram-link:hover {
  background: #218838;
}

button {
  background: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background: #218838;
}

main {
  padding: 40px 20px;
}

main .description {
  text-align: left;
  padding: 20px;
}

main .description h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

main .description p {
  font-size: 1.2rem;
  margin: 0;
}

.events {
  margin-top: 40px;
  text-align: center;
}

.events h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.events-container {
  display: flex;
  gap: 20px;  
  overflow-x: auto;  
  padding-bottom: 20px; 
  scroll-snap-type: x mandatory; 
  justify-content: center; 
}

.event-card {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 250px; 
  height: 250px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  scroll-snap-align: center;  
}

.event-card h3 {
  font-size: 1.2rem;
  margin: 10px 0;
}

.event-card .event-poster {
  max-width: 100%;
  max-height: 150px; 
  border-radius: 8px;
}

.event-card:hover {
  background: rgba(255, 255, 255, 0.4);
}


.events-container::-webkit-scrollbar {
  height: 10px;
}

.events-container::-webkit-scrollbar-thumb {
  background-color: #80d4ff;
  border-radius: 10px;
}

.events-container::-webkit-scrollbar-track {
  background-color: transparent;
}

footer {
  text-align: center;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  position: relative;
  bottom: 0;
  width: 100%;
}
